@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;700&family=Shadows+Into+Light&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Barlow', sans-serif;
  /* font-family: 'Shadows Into Light', cursive; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  /* Rainbow colors for the hamburger lines */
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #373a47;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: linear-gradient(to right, #FFEBEE, #FFE0B2, #FFF9C4, #E8F5E9, #E3F2FD, #E3F2FD, #F3E5F5);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Styling of menu items*/
.menu-item {
  color: #373a47;
}

.menu-item:hover {
  color: #33A8C7;
}

/* Wrapper for item list */
.bm-item-list {
  color: white;
  padding: 0.8em;
  text-align: left;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: transparent !important;
}

#gendernym-search::-webkit-search-cancel-button{
  -webkit-appearance: none;
  display: inline-flex;
  width: 12px;
  height: 12px;
  margin-left: 10px;
  background:
    linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 43%,#000 45%,#000 55%,rgba(0,0,0,0) 57%,rgba(0,0,0,0) 100%),
    linear-gradient(135deg, transparent 0%,transparent 43%,#000 45%,#000 55%,transparent 57%,transparent 100%);
}
